
/* CSS */

.button-10:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

html, body, #root {
    height: 100%;
   
  }
  
  .app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  
  .content-wrapper {
    display: flex; /* use flexbox for layout */
    justify-content: center; /* horizontally center the section element */
    align-items: center; /* vertically center the section element */
    background-color: #ffffff;
  }
  

  .footer {
    margin-top: auto;
    background-color: #f8f9fa;
    padding: 20px;
  }

 .inputStyle{
  display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #4f4f4f;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #060505;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    box-shadow: inset 0 1px 5px rgba(0,0,0,.075);
    transition: all .2s linear;
 }

  .txtArea
  {
    background-color:  #7eb7e6;
    text-align: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo
  {
    width: 70%;
    height: 85%;
    margin-Bottom: 10px;
    margin-left: 200px;
  }

  .left-column,
  .right-column {
    flex: 1; /* set both columns to take up equal width */
    padding: 20px; /* add some padding to the columns */
  }

  .left-column {
    /* set a background color for the left column */
    width: 30%;
    display: flex;
    height: 100%;
    flex-Direction: column;
    justify-content: center;
    align-items: center;
  }

  .right-column {
    width: 30%;
    display: flex;
    height: 100%;
    flex-Direction: column;
    justify-Content: space-between;
  }

  .img{
    width: 25%;
    margin-Bottom: 10px;
    margin-left: 200px;
  }

  .profile-img{
    vertical-align: right;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 3px solid #090909;
  }

  page-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
  }
  
  h1 {
    margin: 0;
  }
  
  .tab-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }
  
  .tab-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  
  }


  .card-row .mb-4 {
    margin-bottom: 20px;
  }

  .project-card {
    margin-bottom: 20px;
  }
  .card-row {
    margin-bottom: 20px;
  }

  .chart-container {
    width: 400px;
    height: 400px;
    margin-bottom: -50px;
  }

  .footer {
    
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 100px; /* Adjust the value to match the height of your footer */
  }

  .page-container {
    display: flex;
    flex-direction: column;
    min-height: 150vh;
  }
  
  .content-container {
    flex: 1;
  }
  