
/* CSS */

.button-10:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

html, body, #root {
    height: 100%;
   
  }
  
  .app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  
  .content-wrapper {
    flex: 1;
    display: flex; /* use flexbox for layout */
    justify-content: center; /* horizontally center the section element */
    align-items: center; /* vertically center the section element */
  }
  
  footer {
    height: 60px;
  }

 

  .txtArea
  {
    background-color:  #7eb7e6;
    text-align: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left-column,
  .right-column {
    flex: 1; /* set both columns to take up equal width */
    padding: 20px; /* add some padding to the columns */
  }

  .left-column {
    /* set a background color for the left column */
  }

  .right-column {
    width: 50%;
  }

  .img{
    width: 50%;
    height: 50%;
  }