.custom-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Add additional styling as needed */
  }

  .requirement-info {
    display: flex;
    align-items: center;
  }